<nav class="navbar navbar-inverse" style="background-color: #FFFFFF;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/lobby" style="color: rgba(0, 172, 168, 1.0); font-weight: bold;">TETRIS</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/lobby" style="color: rgba(0, 172, 168, 1.0); font-weight: bold;">Home</a></li>
            <li><a href="/ranking" style="color: rgba(0, 172, 168, 1.0); font-weight: bold;">Rank</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"
                    style="color: rgba(0, 172, 168, 1.0); font-weight: bold;">My Page<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/status" style="color: rgba(0, 172, 168, 1.0); font-weight: bold;">My Status</a></li>
                    <li><a href="/matchRecord" style="color: rgba(255, 0, 44, 1.0); font-weight: bold;">Match Record</a>
                    </li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a style="color: black;font-weight: bold;"><%= userid %></a></li>
            <li><a href="/user/logout" style="color: rgba(0, 172, 168, 1.0); font-weight: bold;"><span
                        class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
    </div>
</nav>