<style>
    #userlist{
        width: 100%;
        height: 100%;
        border-top: 5px solid rgba(0,172,167,1); 
        background-color: rgba(217 ,243 , 243);          
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        display: flex;
        flex-direction: column;
    }
    h2{
        text-align: center;
        color:white;
        background-color: rgba(0,172,167,1);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        margin: 0 ;  
        padding-bottom: 5px;
    }
</style>
<div id="userlist">
    <h2>userlist</h2>
    <script>
        const userlist_parent = document.getElementById('userlist');
        let listContents = document.createElement('div');
        userlist_parent.appendChild(listContents);
        serverInterval('/user/list','POST',(res)=>{
            userlist_parent.removeChild(listContents);
            listContents = document.createElement('div');
            listContents.style.overflowY = 'auto';
            listContents.style.flex = '1';
            for(let i=0; i<res['data'].length; i++){
                const newOne = document.createElement('div');
                newOne.style.fontSize = '25px';
                newOne.style.wordWrap = 'break-word';
                newOne.style.borderBottom = '1px solid rgba(0,172,167,1)';
                newOne.innerText = `${res['data'][i]}`;
                listContents.appendChild(newOne);
            }
            userlist_parent.appendChild(listContents);
        }, null, 1000)
    </script>
</div>