<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="keywords" content="steven lu, tetris, game, free, javascript, html5, browser, native, iOS, iPhone, iPad, iPad 2, Android, webkit, opera, chrome, touch, safari" />
    <meta name="description" content="This is a HTML5 tetris game that has wide browser support. It provides innovative intuitive touch controls for Apple iOS iPhone iPad products and also Android devices. " />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>Tetris!</title>

    <script src="/tetris_core/strokeText.js"></script>
    <link rel="stylesheet" href="/style/defaultStyle.css">

    <link rel="stylesheet" href="/tetris_core/page.css" type="text/css" />
    <script src='/tetris_core/TetrisPlay1P.js' type="text/javascript"></script>
    <script type='text/javascript'>
        setTimeout(()=>{
            TETRIS.unPause();
            TETRIS.setScoreIncreasing();
        },1500)
    </script>
    <style>
        #effect{
            position: absolute;
            width: 20vw;
            height: 20vw;
            top:-10vw;
            left:-10vw;
            z-index: 5;
            border-radius: 1000px;
            background-color: rgba(255, 0, 44, 1);
            animation: shrink 1.5s forwards;
        }
        @keyframes shrink {
            0%{
                transform: scale(15,15);
            }
            100%{
                transform: scale(0,0);
            }
        }
    </style>
</head>


<body>
    <div id="effect"></div>
    <!-- score -->
    <table id="score_check" class="styled-table">
        <thead>
            <tr>
                <th>ID </th>
                <td id="player_id"><%= userid %></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>SCORE </th>
                <td id="player_score"></td>
            </tr>
        </tbody>
    </table>


    <!-- canvas -->
    <div id="player">
        <canvas id="player_board" width="500" height="1200"></canvas>
        <canvas id="player_animated" width="500" height="1200"></canvas>
        <canvas id="player_shadow" width="500" height="1200"></canvas>
    </div>


    <!-- pause -->
    <div id="instructions" style="position: relative">
        <input type="button" id='pause'  onclick="if (TETRIS.isPaused()) { TETRIS.unPause();this.blur();  } else { TETRIS.setPause(); this.blur(); }" value="Pause">
        <p/>
        <input type="button" id="quit" value="Quit" onclick="location.href='/lobby';">
    </div>
</body>

</html>
