<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/defaultStyle.css">
    <link rel="stylesheet" href="/style/loginStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Sign up</title>
    <style>
        .un {
            background: rgba(255, 0, 44, 0.15);
        }

        .pass {
            background: rgba(255, 0, 44, 0.15);
        }

        .submit {
            background: rgba(255, 0, 44, 0.8);
        }
    </style>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">
            <a class="title">T </a>
            <a class="title">E </a>
            <a class="title">T </a>
            <a class="title">R </a>
            <a class="title">I </a>
            <a class="title">S</a>
        </p>
        <form class="form1" action="/signUp/store" method="POST">
            <input class="un " type="text" name="username" align="center" placeholder="Username" required>
            <input class="pass" type="password" name="password" align="center" placeholder="Password" required>
            <input class="submit" type="submit" value="Sign up" align="center">
        </form>
        <p class="signUp" align="center"><a href="/">Back</a></p>
    </div>
    <% if(duplicate) { %> 
    <script>
        alert("Username already exists");
    </script>
<% } %>
</body>

</html>
